<div class="banner banner-category all">
  <div class="container">
    <h1> My jewels for rent </h1>
  </div>
</div>


<div class="container mt-5">

  <% if current_user.products.empty?  %>

    <div class="text-center mb-5">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add new jewelry</button>
    </div>

  <% else %>

    <div class="d-flex justify-content-between mb-5">

      <%= link_to owner_rentals_path, class:'btn-heavy text-center' do %>
        Rentals for my jewels
      <% end %>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add new jewelry</button>
    </div>

  <% end %>

  <%= render 'shared/listproducts' %>

</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container mt-5 mb-5">

        <h1 class="text-center mb-5">Add your product</h1>

        <%= render 'products/form' %>

      </div>
    </div>
  </div>
</div>
