<div class="banner banner-category all">
  <div class="container">
    <h1> My jewels for rent </h1>
  </div>
</div>


<div class="container mt-5">

  <% if current_user.products.empty?  %>

    <div class="text-center mb-5">
      <%= link_to new_product_path, class:"btn-heavy" do %>
        Add a product
      <% end %>
    </div>

  <% else %>

    <div class="d-flex justify-content-between mb-5">

      <%= link_to owner_rentals_path, class:'btn-heavy text-center' do %>
        Rentals for my jewels
      <% end %>

      <%= link_to new_product_path, class:"btn-light" do %>
        Add a product
      <% end %>

    </div>

  <% end %>

  <%= render 'shared/listproducts' %>

</div>
