// Define variables for your color scheme

// For example:
$light-rose: #F7C1C6;
$dark-rose: #CB9A9E;
$dark-pink: #A53860;
$maroon: #681E24;
$blue: #5A7291;
$light-blue: #F5F8FA;
$dark-blue: #373F49;
