#total-price-for-rental {
  color: $dark-pink;
  font-size: 22px;
}

.rental-dates {
  color: $dark-blue;
}

.rental-status-pending {
  color: $dark-rose;
}

.rental-status-declined {
  color: $maroon;
}

.rental-status-confirmed {
  color: $dark-pink;
}
