<h1>My products for rent</h1>
<% if @products.empty? %>
  <p>No products!</p>
<% else %>
  <ul>
    <li>
      <% @products.each do |product| %>
        <%= product.name %>
        <% if product.photo.attached? %>
          <%= cl_image_tag(product.photo.key) %>
        <% end %>
      <% end %>
    </li>
  </ul>
<% end %>
