<% if @products.empty? %>
  <p>No products!</p>
<% else %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= product.name %>
        <% if product.photo.attached? %>
          <%= cl_image_tag(product.photo.key) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
