<% if @products.empty? %>
  <p>No products!</p>
<% else %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to product_path(product) do %>
          <%= product.name %>
        <% end %>
        (<%= product.category %>)
        <%= cl_image_tag(product.photo.key) %>
      </li>
    <% end %>
  </ul>
<% end %>
