<div class="banner">
  <div class="container">
    <h1>BeJoo</h1>
    <p>Find the perfect jewels for your next occasion.</p>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm-1 col-md-6 col-lg-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(150,150,150,0.3), rgba(150,150,150,0.3)), url(https://cdn.pixabay.com/photo/2016/08/15/10/14/wedding-1594957_960_720.jpg)">
        Necklaces
      </div>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(120,120,120,0.3), rgba(120,120,120,0.3)), url(https://images.unsplash.com/photo-1561812350-932aed735105?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80)">
        Rings
      </div>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(120,120,120,0.3), rgba(120,120,120,0.3)), url(https://images.pexels.com/photos/1191531/pexels-photo-1191531.jpeg?cs=srgb&dl=selective-focus-photography-of-person-wearing-three-bangles-1191531.jpg&fm=jpg)">
        Bracelets
      </div>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(120,120,120,0.3), rgba(120,120,120,0.3)), url(https://images.unsplash.com/photo-1576682828571-c11467c6d621?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80)">
        Earrings
      </div>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(120,120,120,0.3), rgba(120,120,120,0.3)), url(https://images.pexels.com/photos/908184/pexels-photo-908184.jpeg?cs=srgb&dl=silver-colored-earring-lot-908184.jpg&fm=jpg)">
        Sets
      </div>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(120,120,120,0.3), rgba(120,120,120,0.3)), url(https://cdn.pixabay.com/photo/2017/08/06/17/13/diamond-2594307_960_720.jpg)">
        All
      </div>
    </div>
  </div>
</div>
