.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 0px 20px rgba(0,0,0,1);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px 0;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.card-rental {
  background-size: cover;
  background-position: center;
  // height: 210px;
  display: flex;
  flex: grow;
  align-items: vertical;
  color: $dark-rose;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin: 15px 15px;
  border: 3px solid $light-rose;
  padding: 20px;
  ul {
    padding: 0;
  }
  .pdt{
    color: $dark-pink;
  }
  .product-image {
    border: 2px solid $light-rose;
  }
}

.card-product {
  margin: 15px 0;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h2 {
    font-size: 22px;
    margin: 0;
    margin-right: 40px;
  }
  p {
    color: $dark-blue;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
  }
}

.card-product .card-product-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.background {
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.card-product .card-product-infos {
  border: 1.5px solid $dark-pink;
  height: 160px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-product-infos .card-product-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.card-pink-border {
  border-radius: 12px;
  padding: 40px 40px;
  border: 1px solid $dark-pink;
}
