.navbar-lewagon {
  justify-content: space-between;
  background: $light-rose;
  a {
    color: white !important;
    font-weight: bold;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .link-to-home {
  font-size: 30px;
  font-weight: normal;
  font-family: $headers-font;
  &:hover {
    text-decoration: none;
  }
}
