.navbar-lewagon {
  justify-content: space-between;
  background: $light-rose;
  a.white-link {
    color: white !important;
    font-weight: bold;
  }
}

.navbar-items {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  text-align: center;
}

.center {
  justify-content: center;
  text-align: center;
}

.navbar-nav li {
  text-align: center;
  width: 100px;
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-lewagon .link-to-home {
  color: white !important;
  font-size: 30px;
  font-weight: normal;
  font-family: $headers-font;
  &:hover {
    text-decoration: none;
  }
}

.navbar-lewagon a.dropdown-link {
  color: $dark-pink !important;
}

.navbar-lewagon a#sign-out-dropdown-link {
  color: $dark-blue !important;
    font-weight: bold;
}


