.product {
  margin: 120px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.product-page-left {
  border: 2px solid $light-rose;
  width: 450px;
}

.product-page-right {
  margin-left: 100px;
  padding: 10px;
  flex-grow: 1;
  h1 {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.product-user p {
  margin-right: 10px;
}

.product-name {
  color: $dark-pink;
}

.product-distance {
  font-weight: bold;
  color: $dark-rose;
}

.rent-button {
  font-size: 20px;
  font-weight: bold;
}

.product-photo-in-form {
  width: 300px;
}
