<div class="container mt-5">

<h1 class="text-center mb-5">Edit your product</h1>
  <div class="background" style="width:500px">
    <div style="width:100%">
      <%= render 'form' %>
    </div>
  </div>
</div>
